.tab > a {
	color: black !important;
}

.indicator {
	background-color: black !important;
}

#closeSidebar {
	color: black;
}

.animalAttributes {
	float: right;
}

.action {
	color: rgba(255, 255, 255, 0.9) !important;
}

.action:focus {
	background-color: transparent !important;
}

.action:hover {
	background-color: rgba(0, 0, 0, 0.15) !important;
}

.expand {
  transform: rotate(0deg);
	margin-left: auto !important;
}

.expandOpen {
  transform: rotate(180deg);
	margin-left: auto !important;
}

/* Edit */

.imageContainer {
	float: right;
	position: relative;
}

.deleteImage {
	top: -10px;
	right: -10px;
	position: absolute;
	background-color: red;
	border-radius: 50%;
	padding: 5px 5px 2px 5px;
	cursor: pointer;
}
