body {
  color: white;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
}

.sliding-middle-out{
	display:inline-block;
	position:relative;
}

.sliding-middle-out:after{
	content:"";
	display:block;
	margin:auto;
	height:3px;
	width:0px;
	background:transparent;
	transition:width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after{
	width:100%;
	background:red;
}

.loading {
  width: 100%;
  text-align: center;
}

input {
  border-bottom: none !important;
  box-shadow: none !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
}

.input {
	border-color: black !important;
}

label {
	color: rgba(0, 0, 0, 0.5) !important;
}

.button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.material-icons.prefix, .material-icons.prefix.active{
  color: black;
}

.rc-slider-track {
  background-color: #F44336;
}

.rc-slider-handle {
  border: solid 2px #F44336;
}

.rc-slider-handle:focus {
  border-color: #F44336;
  box-shadow: 0 0 5px 1px #F44336;
}

.rc-slider-handle:hover {
  border-color: #F44336;
  box-shadow: 0 0 5px 1px #F44336;
}
