.animalsDashboard {
	color: black !important;
	padding-top: 20px;
}

.statContainer {
  border-radius: 10px;
	width: 100%;
  height: 100px;
  padding: 10px;
	margin: 10px;
	color: white;
}

.statIcon {
  margin-top: 10px;
}

.statNumber {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 10px;
}

.unitText {
  font-size: 15px;
  color: white;
  float: right;
  margin-right: 10px;
}

.chart {
	width: 100%;
	height: 300px;
}

.log {
	width: 100%;
	height: 300px;
}

.material-icons.md-36 { font-size: 36px; }
