table {
	color: black;
}

.addUser {
	margin-top: 20px;
}

#goBack {
	color: black;
	top: 3px;
	padding-right: 10px;
	position: relative;
}

.ReactPasswordStrength {
	border: none !important;
}

.ReactPasswordStrength-input {
	margin-bottom: 1px !important;
}

.ReactPasswordStrength-strength-bar {
	margin-top: -3px;
	padding-bottom: 3px;
}

.ReactPasswordStrength-strength-desc {
	font-size: 0.7em !important;
	font-style: normal !important;
}

.ReactPasswordStrength input:focus {
	border-bottom: 1px solid black !important;
  box-shadow: none !important;
}
